@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul,
li {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

h1 {
    font-family: 'Fredoka One', cursive;
}

header {
    width: 100%;
    height: 100px;
    background-color: #ffd9f1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-top: 10px;

}

nav ul {
    gap: 40px;
    color: #150101;
}

nav ul li {
    transition: all 0.1s ease;
    cursor: pointer;
    opacity: 0.6;
}

.btn {
    color: white;
    background-color: #D23166;
    padding: 14px 50px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #b11247;
}

nav ul li:hover {
    color: #D23166;
    opacity: 1;
}


.slide {
    background-color: #ffd9f1;
    width: 100%;
    height: 760px;
}

.slide-main {
    display: flex;
    align-items: center;
}

.s-text {
    width: 60%;
    height: 100%;
    padding-top: 170px;
}

.s-text span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.s-text h2 {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 120.5%;
}

.s-text h2 span {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 120.5%;
    color: #D23166;
}

.s-text p {
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
    color: #0F0101;
    opacity: 0.6;
    padding-top: 20px;
    padding-bottom: 30px;

}

.s-img {
    width: 30%;
    height: 100%;
    position: relative;
}

.s-img img {
    width: 230%;
    position: absolute;
    margin-top: -210px;
    margin-left: -210px;
}


.about {
    width: 100%;
    height: 400px;
}

.about-main {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.a-box {
    width: 250px;
    height: 200px;
    /* border: 1px solid #D23166; */
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.a-box:hover {
    box-shadow: 0px 0px 47px 0px rgba(143, 60, 126, 0.492);
}

.a-box img {
    width: 51px;
    height: 43px;
}

.a-box h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.a-box p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}

.brown-sugar {
    width: 100%;
    height: 545px;
    background-color: #ffd9f1;
}

.bs-main {
    display: flex;
    align-items: center;
}

.bs-text {
    width: 50%;
    height: 100%;
    /* padding-top: 140px; */
}

.bs-text h2 {
    width: 60%;
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
}

.bs-text p {
    width: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
    padding-bottom: 20px;
}

.bs-img {
    width: 50%;
    height: 100%;
}

.bs-img img {
    width: 100%;
}

.p-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-top h2 {
    padding: 65px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
}

.p-top ul {
    gap: 40px;
}

.p-top ul li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.1s ease;
}

.active {
    color: #000000 !important;
    font-weight: bold !important;
    opacity: 1 !important;
    border-bottom: 3px solid #D23166;
}

.p-top ul li:hover {
    opacity: 1;
    color: #000000;
    /* border-bottom: 3px solid #D23166; */
}

.p-box {
    width: 100%;
    height: 415px;
    display: flex;
    align-items: center;
}

.p-img,
.p-text {
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
}

.p-text {
    padding-left: 80px;
}

.p-text h2 {
    padding-top: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
}

.p-text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}

.p-text h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 30px;
}

.p-text h3 span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.7;
    padding-left: 10px;
}

.p-text-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 50px;
}

.p-text-2 p {
    text-align: end;
}

.p-last {
    width: 50%;
    height: 100%;
    margin-top: 200px;
}

.pl-top {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.plt-1 {
    width: 15%;
}

.plt-2 {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center; */
}

.plt-2 h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

}

.plt-2 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    opacity: 0.7;
}

.pl-main p i {
    color: #f6762c;
}

.pl-main p {
    width: 322px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
    padding-bottom: 20px;
}

.pl-bottom {
    width: 322px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pl-bottom img {
    border-radius: 50px;
}

.pl-bottom img:nth-child(3) {
    border: 1px solid #D64374;
    ;
}

.pl-bottom i {
    color: #D64374;
}

.mobile-app {
    margin-top: 100px;
    width: 100%;
    height: 680px;
}

.ma-background {
    background-color: #ffd9f1;
    width: 100%;
    height: 640px;
}

.ma-main {
    display: flex;
    align-items: center;
}

.ma-main img {
    margin-top: 50px;
}

.ma-text {
    width: 60%;
    height: 100%;
    padding-left: 130px;
}

.ma-text h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
}

.ma-text p {
    width: 85%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
}

.ma-text .mat-icon {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 15px;
}

.ma-text .mat-icon li {
    gap: 10px;
    align-items: center;
}

.ma-text .mat-icon li i {
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #F98AAB;
}

.mat-app {
    width: 100%;
}

.app-icon {
    margin-top: -5px;
    display: flex;
    align-items: center;
    margin-left: -12px;
}

.form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-main h2 {
    padding-top: 100px;
    width: 45%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
}

.f-1 {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.f-1 input {
    width: 303px;
    height: 74px;
    align-items: center;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid #FFA3A3;
}

.f-1 input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
}

.f-2 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.f-2 input {
    width: 525px;
    height: 74px;
    align-items: center;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid #FFA3A3;
    margin-left: 10px;
    padding-right: 150px;
}

.f-2 input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
    /* padding-right: 100px; */
}

.f-1 i {
    position: absolute;
    opacity: 0.6;
    margin-left: 680px;
    margin-top: 30px;
}

.f-2 a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    position: absolute;
    margin-left: 595px;
    padding: 28px 50px;
}

footer {
    width: 100%;
    height: 380px;
    background: #0A0808;
}

.footer-logo {
    padding-top: 70px;
}

.footer-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.fm-1 {
    width: 20%;
    height: 100%;
    color: white;
}

.fm-1 h2 {
    padding-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
}

.fm-1 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.fm-1 ul {
    gap: 10px;
}

.fm-1 ul li {
    cursor: pointer;
}

.bxl-facebook-square {
    color: #1976d2;
}

.bxl-twitter {
    color: #02bcf6;
}

.bxl-instagram {
    color: #db4186;
}

.bxl-linkedin-square {
    color: #0077b7;
}

.fm-2 ul {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.fm-3 {
    width: 35%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fm-3 h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.fm-input {
    display: flex;
    flex-direction: column;

}

.fm-input input {
    width: 230px;
    height: 55px;
    align-items: center;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid #FFA3A3;
    background-color: transparent;
    padding-right: 150px;
}

.fm-input input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: white;
    opacity: 0.8;
    /* padding-right: 100px; */
}

.fm-input a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    position: absolute;
    margin-left: 275px;
    padding: 18px 23px;
}

.fm-3 ul {
    display: flex;
    align-items: center;
    gap: 10px;
}